<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/pet_friend.css">
    <title>Pet Friendly - ATX</title>
    {% endblock %}
  </head>
  <body>



      {% block title %}
  <h1>PET FRIENDLY</h1>
      {% endblock %}

      
      {% block songlist %}
      <h2> THESE ARE OUR SONGS:</h2>

      <ol id="songs">

        {% for song, mp3 in song_dict.items() %}
        <li>{{ song }}:<audio controls class="player">
                   <source src="{{ url_for('static',filename=mp3) }}" type ="audio/mpeg">
                   </audio></li>
          {% endfor %}
      </ol>
      {% endblock %}

      {% block paragraph %}
      {% endblock %}


      {% block form %}
      {% endblock %}






  </body>
</html>
