<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/pet_friend.css">
    <title>Pet Friendly - ATX</title>
    {% endblock %}
  </head>
  <body>
    <div class="main header">
    <h1>PET FRIENDLY<h1>
    </div>
      {% block content %}

      <div class="secondary header">
      <h2 class="intro"> THESE ARE OUR SONGS:</h2>

    </div>

      <ol id="songs">

        {% for song, mp3 in song_dict.items() %}
        <li>{{ song }}:<audio controls class="player">
                   <source src="{{ url_for('static',filename=mp3) }}" type ="audio/mpeg">
                   </audio></li>
          {% endfor %}
      </ol>

      {% block paragraph %}
      {% endblock %}

      {% block paragrap %}
      {% endblock %}

      {% block form %}
      {% endblock %}





      {% endblock %}
  </body>
</html>
