{% extends "layout.html" %}
  {% block songlist %}
  <h3>Join Our Mailing List! :D</h3>
  {{ super() }}
{% endblock %}

  {% block form %}



    <form action="/" method="POST">
      <div class="input-group">
           <label for="email">Email:</label>
           <input id="email" type="email" name="email"><br>
          <label for "name">Full Name:</label>
     <input id="name" type="text" name="name"><br>
          <input type="submit" value="Update">
      </div>
  </form>


      {% endblock %}
